html(lang="en")
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/lib/app.js')
    script(src='/lib/J3DI.js')

    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

    style
        #gamecanvas {
            background-color: #000000;
            width: 640px;
            height: 480px;
        }

  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')= 'Internet Spaceships'

        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/update')= "Update Firmware"

          ul.nav.navbar-nav.navbar-right
            li
              a(href=user._json.html_url): span
                img(src='http://www.gravatar.com/avatar/'+ user._json.gravatar_id + '?s=25')
                = ' ' + user.displayName
            li
              a(href='/logout')= "Logout"

    .container
      .page-header
        h1= "Ship Status"
        #framerate-monitor
        canvas#gamecanvas
        p= "Status of the Ship?"

    #shipstatus.container
