html(lang="en")
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/')= 'Internet Spaceships'

        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/update')= "Update Firmware"

          ul.nav.navbar-nav.navbar-right
            li
              a(href=user._json.html_url): span
                img(src='http://www.gravatar.com/avatar/'+ user._json.gravatar_id + '?s=25')
                = ' ' + user.displayName
            li
              a(href='/logout')= "Logout"

    .container.col-md-2.col-md-offset-5
      form#firmware.form-signin(role='form', action='/update', method='POST')
        h2.form-signin-heading= 'Update Firmware'
        input.form-control(name='repository', placeholder='repository', required, autofocus)
        input.form-control(name='branch', placeholder='branch', required)
        input.btn.btn-lg.btn-primary.btn-block(type='submit')= 'Update Spaceship Firmware'